{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <a class="btn btn-success" style="margin-bottom:10px" href='/num/add' target="_blank">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            新建靓号
        </a>
        <div style="float: right ; width: 300px">
            <form method="get">
                <div class="input-group">
                    <input name="q" type="text" class="form-control" placeholder="Search for..."
                           value={{ search_data }}>
                    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
            </span>
                </div>
            </form>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                靓号列表
            </div>


            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>号码</th>
                    <th>价格</th>
                    <th>级别</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in model_list %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.mobile }}</td>
                        <td>{{ obj.price }}</td>
                        <td>{{ obj.get_level_display }}</td>
                        <td>{{ obj.get_status_display }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href='/num/{{ obj.id }}/edit' target="_blank">编辑</a>
                            <a class="btn btn-danger btn-xs" href='/num/{{ obj.id }}/delete'>删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">

        {{ page_string }}

     </ul>

    </div>


{% endblock %}